/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #eef2ff;
  font-family: 'Inter', sans-serif;
  color: #1a1a2e;
}
